name: Deploy to Azure Static Web App
on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      version:
        description: "Version cần deploy (VD: 1.0.0)"
        required: true

env:
  DEPLOYMENT_SOURCE: './dist'  # Thư mục chứa file ZIP hoặc build artifacts

jobs:
  deploy_job:
    # runs-on: ubuntu-latest
    runs-on: self-hosted
    name: Deploy Job
    if: |
      (github.event_name == 'workflow_dispatch' || github.event_name == 'release')
    steps:
      - name: Show runner info
        run: |
          echo "Runner name: $RUNNER_NAME"
          echo "Runner OS: $RUNNER_OS"
          echo "Runner ARCH: $RUNNER_ARCH"

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download release asset
        run: |
          FILE_NAME="react-build-${{github.event.inputs.version}}"

          mkdir -p deploy

          if [ -f "${FILE_NAME}.zip" ]; then 
            echo "File: $FILE_NAME.zip existed."
            rm ${FILE_NAME}.zip
          fi

          echo "Downloading from release...: $FILE_NAME.zip"
          echo "${{github.event.release.assets[0].browser_download_url}}"

          wget -O ${FILE_NAME}.zip "https://github.com/ductai1413/renew-react-project/releases/download/${{github.event.inputs.version}}/$FILE_NAME.zip"
          unzip -q ${FILE_NAME}.zip -d ./dist

        # https://github.com/ductai1413/renew-react-project/releases/download/2025.11.15-15.48.22-v19/react-build-2025.11.15-15.48.22-v19.zip
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_MANGO_SEA_0CD970B1E }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: "upload"
          ###### Repository/Build Configurations - These values can be configured to match your app requirements. ######
          # For more information regarding Static Web App workflow configurations, please visit: https://aka.ms/swaworkflowconfig
          app_location: "/" # App source code path
          # api_location: "api" # Api source code path - optional
          output_location: "dist" # Built app content directory - optional
          skip_app_build: true
          skip_api_build: true
          ###### End of Repository/Build Configurations ######
        env:
          DEPLOYMENT_ENVIRONMENT: ${{ github.event.inputs.version }}
          DEPLOYMENT_SOURCE: './dist'

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_MANGO_SEA_0CD970B1E }}
          action: "close"









